<!DOCTYPE html>

<html>
<head>
    <title>FinSight Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<h1 class="site-title">FinSight</h1>
<p class="site-subtitle">AI Personal Finance Assistant</p>

<div class="login-page">

```
<!-- LEFT SIDE LOGIN FORM -->
<div class="login-box">

    <h2>Login</h2>

    <form method="POST">

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter your email" required>

        <label>Password</label>
        <input type="password" name="password" placeholder="Enter password" required>

        <button type="submit">Login</button>

    </form>

    <p class="signup-link">
        Don't have an account?
        <a href="/signup">Sign Up</a>
    </p>

</div>


<!-- RIGHT SIDE IMAGE -->
<div class="login-image">

    <img src="https://cdn-icons-png.flaticon.com/512/3135/3135706.png">

</div>
```

</div>

</body>
</html>
